/* 992 

_________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

/* 1 ROOT 					============================================================================= */
/* 2 HEADINGS 				============================================================================= */
/* 3 TYPOGRAPHY 			============================================================================= */
/* 4 LINKS 					============================================================================= */
/* 5 FIGURES & IMAGES 		============================================================================= */
/* 6 TABLES 				============================================================================= */
/* 7 FORMS 					============================================================================= */
/* 8 BANNER 				============================================================================= */
/* 9 NAVIGATION				============================================================================= */
/* 10 CONTENT 				============================================================================= */
/* 11 MAIN 					============================================================================= */


header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background-color: #6E7252;
	background-image: url('http://ikelewis.com/frmichaels/img/FatherMichaelsLogoNoTextHalf.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	z-index: 0;
}

header h1 {
	margin-left: 100px;
}

.main {
	padding-top: 150px;
}


#bio img {
	float: left;
	margin-right: 20px;
}

#bio {
	height: 415px;
}


.content {
	width: 81%;
	background: url('http://ikelewis.com/frmichaels/img/paper.png') repeat-y;
	padding: 10px;
	max-width: 892px;
}

#cart {
	width: 100%; 
	height: 500px; 
	margin-left: 10px;
}


/* Styles for the Sticky Cart */
.locked {
	position: absolute;
	top: 150px;
	right: 0;
	width: 200px;
}

.floating {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
}




/* 12 COMPLEMENTARY 		============================================================================= */
/* 13 CONTENTINFO 			============================================================================= */
/* 14 GLOBAL OBJECTS 		============================================================================= */
/* 15 VENDOR-SPECIFIC 		============================================================================= */
/* 16 MODERNIZR 			============================================================================= */
/* 17 TEMPLATE SPECIFICS 	============================================================================= */